extends ./layout.jade
// block header
//   .login-header
//     include ./includes/header.jade

block content

  main#main(role='main')
  script(data-main='/app/main' src='/static/js/vendor/bower/requirejs/require.js')
  //script(data-main='/app/main', src='/dist/source.min.js')

// block footer
//   .game-footer
//     include ./includes/footer.jade
