<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <link id="basic-css" rel="stylesheet" href="static/css/basic.css">

    <!--[if (IE 8) & (!IEMobile)  ]><link href="static/css/all-ie.css" rel="stylesheet"><![endif]-->
    <!--[if !(IE) | (gte IE 9) | (IEMobile)]><!--><link href="static/css/all.css" rel="stylesheet"><!--<![endif]-->

    <script src="static/js/vendor/modernizr/modernizr.js"></script>


</head>
<body>

  <div class='main-wrapper'>

    <div class='contain'>

      <header class="header">
        <div class='mod mod-pad meta'>
          <div class='col-ab'>
          </div>
          <div class='col-c'>
          </div>
        </div>
      </header>


      <div class="mod mod-pad">
        <div class="col-c">
         </div>
        <div class='col-ab'>
        </div>
      </div>

      <div class="mod mod-pad flex-pad">
        <h3>.mod (stands for module. Constitutes a "row", within which are columns) .mod-pad (outside padding)</h3>
        <div class="col-tile">
          <article class="article">
            25% - .col-tile
            <div class="mod mod-pad flex-pad">
              <div class="col-half">
                <article class="article">50% - .col-half</article>
              </div>
              <div class="col-half">
                <article class="article">50% - .col-half</article>
              </div>
            </div>
          </article>
        </div>
        <div class="col-tile">
          <article class="article">25% - .col-tile</article>
        </div>
        <div class="col-half">
          <article class="article">
            50% - .col-half
            <div class="mod mod-pad flex-pad">
              <div class="col-half">
                <article class="article">
                  50% - .col-half
                  <div class="mod mod-pad flex-pad">
                    <div class="col-tile">
                      <article class="article">25% - .col-tile</article>
                    </div>
                    <div class="col-tile">
                      <article class="article">25% - .col-tile</article>
                    </div>
                    <div class="col-tile">
                      <article class="article">25% - .col-tile</article>
                    </div>
                    <div class="col-tile">
                      <article class="article">25% - .col-tile</article>
                    </div>
                  </div>
                </article>
              </div>
              <div class="col-half">
                <article class="article">50% - .col-half</article>
              </div>
            </div>
          </article>
        </div>
      </div>



      <p>This is footer copy ...</p>


    </div><!--/.contain -->
  </div><!--/.main-wrapper -->




  <script data-main="static/js/main" src="static/js/vendor/requirejs/require.js"></script>
  <script src="//localhost:1337/livereload.js"></script>

</body>
</html>
